.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
}
.userporfile{
  width: 70%;
  margin: 20px;
  padding: 10px;
  border-right: 1px solid rgb(218, 217, 217);
}
.headerItem{
  text-align: center;
}
.usercount{
  width: 30%;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
}
.usercount{
  display: flex;
  flex-wrap: wrap;
}




